<% if obj.errors.any? %>
	<h2>The following errors prevented the form from being submitted:</h2>
	<ul>
		<div class="alert alert-danger" role="alert">
			<% obj.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</div>
	</ul>
<% end %>